# Игнорируемые файлы для C проекта

# Исполняемые файлы
cinema_db
*.exe
*.out

# Объектные файлы
*.o

# Файлы сборки
*.a
*.so

# Временные файлы
*~
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Файлы IDE
.vscode/
.idea/

# Бинарные данные программы
cinema_database.bin
